{{ $url := urls.Parse .Permalink }}

{{ if .IsHome }}
    <script type="application/ld+json">
        {
            "@context": "https://www.schema.org/",
            "@type": "Person",
            "@id": "https://marjorieroswell.com",
            "name": "Marjorie Roswell",
            "alternateName": "Margie Roswell",
            "nationality": "United States",
            "birthPlace" : {
                "@type": "Place",
                "address": {
                    "@type": "PostalAddress",
                    "addressLocality": "Bridgewater",
                    "addressRegion": "NJ",
                    "addressCountry": "United States"
                }
            },
            "affiliation": [
                {
                    "@type": "Organization",
                    "name": "Roswell Infographics",
                    "sameAs": [
                        "https://www.linkedin.com/company/roswell-infographics"
                    ]
                }
            ],
            "alumniOf": [
                {
                    "@type": "CollegeOrUniversity",
                    "name": "Connecticut College",
                    "sameAs": "https://en.wikipedia.org/wiki/Connecticut_College"
                },
                {
                    "@type": "CollegeOrUniversity",
                    "name": "Code Fellows Bootcamp"
                }
            ],
            "gender": "Female",
            "Description": "Musician, Web Developer, and Nutrition Educator",
            "jobTitle": "CEO",
            "worksFor": [
                {
                    "@type": "Organization",
                    "name": "Roswell Infographics",
                    "sameAs": [
                        "https://www.linkedin.com/company/roswell-infographics"
                    ]
                }
            ],
            "url": "https://marjorieroswell.com",
            "image": "https://marjorieroswell.com/images/marjorieroswell.jpg",
            "address": {
                "@type": "PostalAddress",
                "addressLocality": "Baltimore",
                "addressRegion": "Maryland",
                "addressCountry": "United States"
            },
            "sameAs": [
                "https://twitter.com/mroswell",
                "https://www.instagram.com/marjorie_roswell/",
                "https://www.facebook.com/marjorie.roswell",
                "https://www.linkedin.com/in/marjorie-roswell/",
                "https://www.youtube.com/channel/UCMBEteFXFHXhUJaE8LsqNSA",
                "https://github.com/mroswell",
                "https://www.drupal.org/u/mroswell",
                "https://stackoverflow.com/users/2338158/marjorie-roswell",
                "https://linktr.ee/Marjorie_Roswell",
                "https://medium.com/@mroswell/",
                "https://soundcloud.com/marjorie-roswell",
                "https://www.imdb.com/name/nm5660153/"
            ]
        }
    </script>
{{ end }}

{{ if eq $url.Path  "/faq/"}}
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "FAQPage",
            "mainEntity": [{
                "@type": "Question",
                "name": "What brought you to music?",
                "acceptedAnswer": {
                    "@type": "Answer",
                    "text": "Music is a part of my family heritage. My mother was a music major. My aunt on my father’s side studied at Julliard. They are gone, but the music they passed down remains. My family has at least a century-old tradition of writing songs for family occasions. When I have more time I’ll add some more of the family songs to the collection!"
                }
            }, {
                "@type": "Question",
                "name": "Do you have a particular favorite of the family occasion songs?",
                "acceptedAnswer": {
                    "@type": "Answer",
                    "text": "I think my favorite line was one that my mother wrote half a century ago, to the tune of Get Me to the Church on Time. “For such a nachas, Just move your tuchas, and get Barbara to the shul on time. We know that Michael will be just great. But as for Barbara, Gei gezunterheit"
                }
            }, {
                "@type": "Question",
                "name": "Do you play an instrument?",
                "acceptedAnswer": {
                    "@type": "Answer",
                    "text": "I play the guitar, and I plunk on a ukulele or a piano. In a pinch, I can be found playing plastic spoons to accompany a jam session."
                }
            }, {
                "@type": "Question",
                "name": "Do you have perfect pitch?",
                "acceptedAnswer": {
                    "@type": "Answer",
                    "text": "No. But when I listen to a piano, I often know what notes are being played. When I listen to a guitar, I often know what chords are being played."
                }
            }, {
                "@type": "Question",
                "name": "Hmm... Freelance developer. What specifically do you do?",
                "acceptedAnswer": {
                    "@type": "Answer",
                    "text":"I’m a web developer who has always been especially interested in data visualization. I love making interactive maps, and I’ve built a number of “scorecard maps” for advocacy organizations."}
            }, {
        "@type": "Question",
        "name": "What are you working on now?",
        "acceptedAnswer": {
        "@type": "Answer",
        "text":"I’m currently working on building a website called Safer Or Toxic, to help individuals, schools, hospitals and janitorial companies to sort out which disinfectants are safer for human health. I think it’ll be a cool site, and I'll be able to launch it in July. It’s a project of the Maryland Pesticide Education Network."}
            }]
        }
    </script>
{{ end }}



