{{ define "main" }}

<!-- Banner Start -->
{{ if .Site.Data.homepage.bio.enable }}
{{ with .Site.Data.homepage.bio }}
<section class="section banner" style="background-image:url('{{ site.Params.bio.bg_image | absURL }}')">
<!--  <section class="banner-creative" style="background-image:url('{{ site.Params.banner.bg_image | absURL }}')">-->

  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-lg-8 mb-4 mb-lg-0 order-1 order-lg-0">
        <h1 class="title">I'm a <span class="cd-words-wrapper text-color">freelance developer</span> and&nbsp;I'm also passionate about <span class="cd-words-wrapper text-color">nutrition education</span>, <span class="cd-words-wrapper text-color">music</span>, <span class="cd-words-wrapper text-color">nature</span>, and <span class="cd-words-wrapper text-color">climate resilience</span>.</h1>
      </div>
      {{ with site.Params.bio.image }}
      <div class="col-lg-3 col-md-4 col-sm-6 order-0 order-lg-1 mb-5 mb-lg-0">
        <img loading="lazy" class="rounded banner-image img-fluid" src="{{ . | absURL }}" alt="{{ site.Title }}">
      </div>
      {{ end }}
    </div>

  </div>
</section>
{{ end }}
{{ end }}
<!-- Banner End -->
<section class="project">
  <div class="container mt-4">
    <div class="row shuffle-wrapper project-gallery">
      {{ range (where .Site.RegularPages "Type" "music")}}
      <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups="[&quot;{{ .Params.Category | urlize }}&quot;]">
        <div class="position-relative inner-box">
          <div class="image position-relative">
            <img src="{{ .Params.Image | absURL }}" alt="project-image" class="img-fluid w-100 d-block">
            <div class="overlay-box">
              <a class="project-image popup-gallery" href="{{ .Params.Image | absURL }}">
                <i class="ti-plus"></i>
              </a>
              <div class="overlay-inner">
                <a class="overlay-content" href="{{ .Permalink }}">
                  <h5 class="mb-0">{{ .Title }}</h5>
                  <p>{{ .Params.Category | humanize }}</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
<!-- project start -->
{{ if .Site.Data.homepage.project.enable }}
<section class="project">
  <div class="container">
    <div class="row mb-5">
      <div class="col-10">
        <div class="btn-group btn-group-toggle " data-toggle="buttons">
          <label class="btn active ">
            <input type="radio" name="shuffle-filter" value="all" checked="checked" />All Projects
          </label>
          {{ $categories := slice }}
          {{ range (where .Site.RegularPages "Type" "project") }}
          {{ $categories = $categories | append .Params.Category }}
          {{ end }}
          {{ range ( $categories | uniq ) }}
          <label class="btn">
            <input type="radio" name="shuffle-filter" value="{{ . | urlize }}" />{{ . | humanize }}
          </label>
          {{ end }}
        </div>
      </div>
    </div>

    <div class="row shuffle-wrapper project-gallery">
      {{ range (where .Site.RegularPages "Type" "project")}}
      <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups="[&quot;{{ .Params.Category | urlize }}&quot;]">
        <div class="position-relative inner-box">
          <div class="image position-relative">
            <img src="{{ .Params.Image | absURL }}" alt="project-image" class="img-fluid w-100 d-block">
            <div class="overlay-box">
              <a class="project-image popup-gallery" href="{{ .Params.Image | absURL }}">
                <i class="ti-plus"></i>
              </a>
              <div class="overlay-inner">
                <a class="overlay-content" href="{{ .Permalink }}">
                  <h5 class="mb-0">{{ .Title }}</h5>
                  <p>{{ .Params.Category | humanize }}</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>


{{ end }}
<!-- project End -->

<!-- Service start -->
{{ if .Site.Data.homepage.service.enable }}
{{ with .Site.Data.homepage.service }}
<section class="section service-home border-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2 class="mb-2 ">{{ .title | markdownify }}</h2>
        <p class="mb-5">{{ .content | markdownify }}</p>
      </div>
    </div>

    <div class="row">
      {{ range .service_item }}
      <div class="col-lg-4">
        <div class="service-item mb-5">
          <i class="{{ .icon }}"></i>
          <h4 class="my-3">{{ .name | markdownify }}</h4>
          <p>{{ .content | markdownify }}</p>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
<!-- service end -->
{{ end }}
{{ end }}

{{ end }}
