{{ define "main"}}

<!-- contact form start -->
<section class="contact section-sm">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="text-center mb-5 contact-title">
          <h2>Contact Me</h2>
        </div>

        <form class="contact__form mt-5" method="post" action="{{ .Site.Params.contact_form_action }}">
          <div class="form-row">
            <div class="col-lg-6">
              <div class="form-group mb-3">
                <input name="name" type="text" class="form-control" placeholder="Your Name">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group mb-3">
                <input name="name" type="text" class="form-control" placeholder="Your Subject">
              </div>
            </div>

            <div class="col-lg-12">
              <div class="form-group mb-3">
                <input name="email" type="email" class="form-control" placeholder="Email Address">
              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-group-2 mb-4">
                <textarea name="message" class="form-control" rows="6" placeholder="Your Message"></textarea>
              </div>

              <div class="text-center">
                <button class="btn btn-main" name="submit" type="submit">Send Message</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

{{ end }}
